body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500px;
  width: 100vw;
  background-color: #fff8f8;

  /* background-size: contain; */
}

/* DIV */
#intro {
  margin: 0 auto;
  border: solid 1px black;
  box-shadow: 1px 1px 1px black;
  border-radius: 7%;
  margin: 10px auto;
  background-color:#e6e6eb ;
  text-align: center;
  width: 50vw;

}

#first-list {
  width: 90vw;
  height: 400px;
  border: solid 1px black;
  box-shadow: 1px 1px 1px black;
  background-color:#e6e6eb ;
  border-radius: 15%;
  margin: 0 auto;
}

#gif {
  height: 200px;
  width: 100vw;
  background: url("https://i.makeagif.com/media/3-29-2016/vi0Egg.gif");
  background-repeat: repeat-x;
  margin: 0 auto;
}

#mypic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 3px 3px 2px black;
  margin: 0 auto;
}

.button {
  border-radius: 7%;
}

.button:hover {
  background-image: url("https://www.gifservice.fr/img/gif-vignette-large/138cf41648a5ea5560ca7bef1ca50b42/47163-idfix-idfix-mission-clopatre-vido-astrix-et-oblix-filme-frankreich-multimedia.gif");
  width: 400px;
  height: 200px;
  border-radius: 7%;
}
.button:hover #mypic {
  display: none;
}

#movie img {
  border-radius: 5%;
  border: solid 1px black;
}

/* TAG */
h1 {
  color: #2f4da8;
  width: 100%;
  /* text-align: center; */
  /* margin: 0 auto; */
}

p {
  color: #7e86d6;
/* text-align: center; */
}

/* PSEUDO CLASS */

a {
  text-decoration: none;
  color: #7e86d6;
}

a:hover {
  color: #2f4da8;

}

#first-list ul {
  text-align: center;
}

#first-list ul li {
   display: inline;
   vertical-align: middle;
}

#linkedin {
  margin-right: 250px;
  height: 250px;
}

#linkedin:hover .fa-linkedin, #linkedin:hover .linkedin-text {
  display: none;
}

#linkedin:hover .test {
  display: inline-block;
}
#surprise {
  margin-left: 250px;
}

.test {
  display: none;
  border-radius: 50%;
  border: solid 1px black;
  box-shadow: 2px 2px 1px black;
}

#surprise {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  overflow: hidden;
}

.test2 {
  display: none;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 1px black;
  box-shadow: 2px 2px 1px black;
}

#surprise:hover span {
  display: none;
}

#surprise:hover .test2 {
  display: inline-block;
}

#prenom {
  width: 150px;
}
form {
  height: 100px;
  text-align: center;
}
